.form-group label{
	font-size: x-large;
    font-weight: 600;
}
.navbar-brand{
    font-size: xx-large !important;
}
.help-block{
	color: green;
}

.col-md-*{
	margin-top:20px;
}

.best-yes
{
	background-color: coral;
}

.best-no
{
}
#isstore
{
	position: inherit;
	opacity: inherit;
}